#contact .icon {
  font-size: 20px;
  padding-right: 1.5rem;
}
.contact-email-text {
  margin-left: 20px;
}
.brand-icon {
  margin: 10px;
}
#contact .fa-github,
#contact .fa-linkedin {
  color: #fff;
  font-size: 2.5rem;
}
#contact .fa-github:hover,
#contact .fa-linkedin:hover {
  color: rgba(78, 142, 219, 0.638);
}
#contact .btn:hover {
  background-color: rgba(78, 142, 219, 0.638);
}
